     <nb-card accent="danger">
        <nb-card-body>
            <div >
                <section id="conteneur2">
                       <div class="a">
                           <div>
                               <h1>Edward Main-d'argent</h1>
                               <h2>Tueur en série</h2>        
                           </div>
       
                           <article class="b" id="test">
                               <h3>Description</h3>
                               <p>Tueur de père en fils depuis 7 générations j'ai appris les ficelles du métier avec mon père et le père de mon père depuis ma plus tendre enfance</p>
                           </article>
                       </div>
                       <div class="b">
                           <img class="test" id="photo" src="../../assets/image/EDWARD AUX MAINS D'ARGENT.png">
                       </div>
               </section>          
           </div>
        </nb-card-body>
      </nb-card>

    